<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
            </div>
            <div class="content">


                <h1>Generar Reclamos</h1><br>
                <div class="container">

                    <div class="row">
                        <div class="col-5">
                            <form>

                                <div class="form-group">
                                    <label class="form-label">Daño</label>
                                    <input type="text" class="form-control" id="danio" [(ngModel)]="garantia.fallosSistemasVehiculo" aria-describedby="nombreHelp" [ngModelOptions]="{standalone: true}" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control" id="descripcion" [(ngModel)]="garantia.garDescripcion" aria-describedby="apellidoHelp" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="col-5">
                                <form [formGroup]="formReclamo">
                                    <div class="form-group">
                                        <label class="form-label">Fecha</label>
                                        <input type="date" class="form-control" id="fecha" formControlName="fecha">
                                        <!-- <input type="date" class="form-control" id="fecha"  [(ngModel)]="date" aria-describedby="cedulaHelp" [ngModelOptions]="{standalone: true}"> -->

                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Razones Reclamos</label>
                                        <input type="text" class="form-control" id="reclamo" formControlName="reclamo" required>
                                        <!--  <input type="text" class="form-control" id="reclamo"  [(ngModel)]="reclamo" aria-describedby="fechaHelp" [ngModelOptions]="{standalone: true}" required> -->

                                        <button [disabled]="formReclamo.invalid" type="submit" class="btn btn-primary btn-fill" (click)="agregarRazones()">Agregar Razon</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-auto">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="3">Listado de Razones del reclamo </th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let reclamos of listreclamos; let idreclamos = index">
                                        <th scope="col">{{reclamos}}</th>
                                        <th>
                                            <button type="submit" class="btn btn-primary btn-fill" (click)="reomeveItem(idreclamos)"><i class="pe-7s-trash" >-</i></button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="message == true" class="row">
                                <div class="col-md-4">
                                    <div class="alert alert-success">
                                        <button class="close" data-dismiss="alert"><span>&times;</span></button> Se ha Guardaro el reclamo con exito
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button [disabled]="formReclamo.invalid" type="submit" class="btn btn-primary btn-fill" (click)="GuardarReclamo()">Guardar Reclamo</button>
                        <button type="submit" style="float: right; margin-right: 0.6cm;" class="btn btn-primary btn-fill" routerLink="/garantias">Volver</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>